.LOSS {
    max-width: 100vw;
    background-image: url(https://static.npmjs.com/attachments/ck3uwg3a8731988744oecrjxu-weloveopensource-bg-800-2x.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 0px;
    color: #ffffff;
}

.LOSS > div {
    margin: 0 auto;
    max-width: 640px;
}

.LOSS__h1 {
    margin: 16px 0px;
    font-size: 48px;
}

.LOSS__p {
    margin: 16px auto 16px auto;
    word-spacing: 2px;
    width: 90%;
}