.navBar__navigation {
  max-width: 100vw;
  padding: 20px 0px;
  /* background-color: #f4f4f4;  */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 10px solid;
  border-top-style: solid;
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}
.navBar__left {
  flex: 1;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.navBar__heart {
  font-size: 30px;
  margin: -20px 10px 0px 0px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.navBar__textContent {
    cursor: pointer;
}

.navBar__heart:hover,
.navBar__textContent:hover {
  filter: opacity(0.5);
}

.navBar__right {
  flex: 1;
  align-self: flex-end;
}

@media screen and (max-width: 560px) {
  .navBar__left {
    flex: 0;
    display: none;
  }
}
